

.content-page {
  margin-left: 240px;
  overflow: hidden;
}
.content-page > .content {
  margin-bottom: 60px;
  margin-top: 1px;
  padding: 20px 5px 15px 5px;
}

 .horizontal-tabs{
    height:50px;
 	border-bottom:2px solid #eaeaea;
 	display:flex;
 	flex:0.3;
 	justify-content: space-between;
 }

.left-component{
    display:flex;   
    flex-basis:40%;
           
}

.icon-spacing{
	margin-right:10px;
}
     	 

.right-component{
  display: flex;
  flex-basis:60%;
  justify-content: flex-end;
}

.icon1,.icon2,.icon3,.icon4,.icon5,.icon6, .hambugger{
	 display: inline-block;
	background-color: var(--c-titan-white);
	color: var(--c-indigo);
	font-weight: 600;
	font-size: 15px;
	padding: 0.5em 0.75em;
	line-height: 1;
	border-radius: 6px;
}



.btn-primary{
	background:darkgreen;
}




/* Table type box */
.table-box {
  display: table;
  height: 100%;
  width: 100%;
}
.table-box .table-detail {
  display: table-cell;
  vertical-align: middle;
}
/* Card Box */
.card-box {
  padding: 20px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  background-clip: padding-box;
  margin-bottom: 20px;
  background-color: #ffffff;
  border:1px solid darkblue;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
}

.leafy{
	background: #ebeff2;
	padding:20px;
}


/*  Contact */
.contact-search .btn-white {
  position: absolute;
  top: 18px;
  right: 21px;
  background-color: transparent !important;
  border: none !important;
  font-size: 16px;
  box-shadow: none !important;
  outline: none !important;
  color: #98a6ad;
}